.seccion {
    background-color: darkslategrey;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}
.parrafo {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.parrafo.dragging {
    opacity: 0.3;
}
.imagen-fantasma {
    width: 300px;
    height: 150px;
    background-color: rgb(253, 213, 213);
    position: absolute;
    left: -100vh;
}
.img-papelera {
    display: flex;
    justify-content: center;
    align-content: center;
}
.papelera {
    width: 300px;

}